router bgp {{ item.bgp.asn }}
 bgp router-id {{ item.router_id }}
 bgp log-neighbor-changes
{% for peer in item.bgp.peers %}
 neighbor {{ peer.remote_ip }}  remote-as {{ peer.remote_asn }}
{% endfor %}