alias exec siu show ip int br | inc up
alias exec sid show ip int br | inc down
alias exec siro show ip route ospf
alias exec siro3 show ip route ospfv3
alias exec sire show ip route eigrp
alias exec sirb show ip route bgp
alias exec sic show ip cef
alias exec sir show ip route
alias exec siv show ip vrf
alias exec sib show ip bgp
alias exec sibv4a show ip bgp vpnv4 all
alias exec sbv4 show bgp vpnv4 unicast all summary
alias exec srb show run | sec router bgp
alias exec sro show run | sec router ospf
alias exec sro3 show run | sec router ospfv3
alias exec sre show run | sec router eigrp
alias exec srr show run | sec route-map
