hostname {{ item.hostname }}
!
{% include "aliases.j2" %}
!
!
ip domain-name lab.local
!
username ansible secret ansible
!
{% for link in item.links %}
interface {{ link.id }}
 description {{ link.description }}
 ip address {{ link.ip_addr }}
 no shutdown
!
{% endfor %}
!
{% include "bgp_base.j2" %}
{% include "console.j2" %}
