config t
{% include "aliases.j2" %}
!
hostname {{ hostname }}
!
spanning-tree mode rapid-pvst
!
{% for link in links %}
interface {{ link.id }}
 description {{ link.description }}
{% if link.link_type == "l3" %}
 no switchport
 ip address {{ link.ip_addr }}
 no shutdown
!
{% elif link.link_type == "l2" %}
{% if link.switchport_mode == "trunk" %}
 switchport trunk encapsulation dot1q
 switchport mode trunk
{% elif link.switchport_mode == "access" %}
 switchport mode access
 switchport access vlan {{ link.access_vlan }}
{% endif %}
!
{% endif %}
{% endfor %}
!
exit
{% for vlan in vlans %}
!
vlan {{ vlan.id }}
 name {{ vlan.name }}
 exit
!
{% endfor %}
{% include "console.j2" %}

end
wr