hostname {{ hostname }}
!
{% include "aliases.j2" %}
!
!
ip domain-name lab.local
!
username ansible priv 15 secret ansible
username cbaxter secret pimpin12
!
enable secret ansible
!
{% for link in links %}
interface {{ link.id }}
 description {{ link.description }}
 ip address {{ link.ip_addr }}
 no shutdown
!
{% endfor %}
!
{% include "console.j2" %}
